	.slw_cart_item_stock_location_label {
		font-size: 13px;
		margin-top: 5px;
		margin-bottom: 0;
		font-weight: bold;
		display: block;
	}
	.slw_cart_item_stock_location_label span{
		font-weight:normal;
	}
	.slw_item_stock_location {
		font-size: 14px;
		line-height: 2;
		color: #32373c;
		border-color: #7e8993;
		box-shadow: none;
		border-radius: 3px;
		padding: 0 24px 0 8px;
		min-height: 30px;
		max-width: 25rem;
		-webkit-appearance: none;
		background: #fff url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E') no-repeat right 5px top 55%;
		background-size: 16px 16px;
		cursor: pointer;
		vertical-align: middle;
		border: 1px solid #7e8993;
		margin: 3px 0 5px 0;
		text-align: left;
	}
	.slw_item_stock_location.display_yes_without{
		display:none !important;
	}
	.slw_checkout_disable {
		opacity: 0.5 !important;
		pointer-events: none !important;
		cursor: default !important;
	}
	a.slw-variable-btn{
		visibility:hidden;
	}
	.woocommerce-variation-availability p.stock{
		display:none;
	}
	.slw-variations-listed ul{
		margin:0 0 4px 0;
	}
	.slw-variations-listed ul li{
		list-style:circle inside;
	}
	.slw-variations-listed label{
		cursor:pointer;
		font-weight:bold;
	}
	.slw_stock_location_selection {
		display: block;
		width: 100%;
		margin: 0 0 10px 0;
		min-height: 40px;
	}
	.slw_stock_location_selection.can-be-hidden{

	}
	.slw_stock_location_selection label {
		display: block;
		margin: 0 10px 10px 0;
		cursor: pointer;
		text-align: left;
		font-size: 11px;
		font-weight: normal;
		line-height: 18px;
	}
	.slw_stock_location_selection label input{
		margin:0 4px 0 0;
	}
	
	body.archive div.slw-item-qty-wrapper,
	body.archive div.slw-variations-wrapper{
		float:left;
		width:100%;
		margin:0 0 10px;
	}
	body.archive div.slw-variations {
		margin: 0 auto;
		width: auto;
		display: table;
	}
	body.archive div.slw-variations *{
		cursor:pointer;
	}
	body.archive div.slw-variations label span{
		font-size:12px;
	}
	body.archive div.slw-item-qty {
		float: none;
		margin: 0 auto;
		clear: both;
		display: table;
	}
	body.archive div.slw-item-qty a{
		float:left;
		cursor:pointer;		
		
	}
	body.archive div.slw-item-qty a i,
	body.archive div.slw-item-qty a svg{
		color:#000;
		font-size:26px;
	}
	body.archive div.slw-item-qty a.decrease{
		margin:0 10px 0 0;
	}
	body.archive div.slw-item-qty a.increase{
		margin:0 0 0 10px;
	}
	body.archive div.slw-item-qty input[type="text"] {
		border-radius: 10px;
		font-size: 14px;
		font-weight: bold;
		width: 26px;
		height: 30px;
		float: left;
		text-align: center;
		color:#000;
		padding:0;
	}
	div.stock_location_selected_warning {
		border: 2px solid rgba(0,0,0,0.2);
		border-radius: 6px;
		padding: 20px;
		line-height: 24px;
		margin: 10px 0 40px;
		background-color: #ff00001c;
		color: #000;
	}
	.slw-notice-msg{
		
	}
	.slw-notice-msg a{
		cursor:pointer;		
		float:right;
	}
	.slw-location-selection-popup {
		background-color: rgba(224, 49, 49,1);
		float: left;
		margin: 0 auto;
		width: 100%;
	}
	.slw-location-selection-popup ul{
		margin:0;
		padding:0;
	}	
	.slw-location-selection-popup ul li{
		list-style:none;
		float:left;
		width:100%;				
	}		
	.slw-location-selection-popup ul li a{
		display:block;
		text-align:center;
		padding:10px 0;
		font-size:18px;
		color:#fff;
	}
	.slw-location-selection-popup ul li a:hover{
		color:#FF0;
	}
	div.blockUI:before {
	  display: none;
	}