.slw_cart_item_stock_location_label {
	font-size: 13px;
	margin-top: 5px;
	margin-bottom: 0;
	font-weight: bold;
	display: block;
}
.slw_cart_item_stock_location_label span{
	font-weight:normal;
}
.slw_item_stock_location {
	font-size: 14px;
	line-height: 2;
	color: #32373c;
	border-color: #7e8993;
	box-shadow: none;
	border-radius: 3px;
	padding: 0 24px 0 8px;
	min-height: 30px;
	max-width: 25rem;
	-webkit-appearance: none;
	background: #fff url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E') no-repeat right 5px top 55%;
	background-size: 16px 16px;
	cursor: pointer;
	vertical-align: middle;
	border: 1px solid #7e8993;
	margin: 3px 0 5px 0;
	text-align: left;
}
.slw_checkout_disable {
	opacity: 0.5 !important;
	pointer-events: none !important;
	cursor: default !important;
}
a.slw-variable-btn{
	visibility:hidden;
}
